.Intro-Major {
    color: rgb(232, 223, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Contact {
    color: rgb(232, 223, 255);
}

.Item {
    list-style: none;
}

.Inhead {
    background-color: #343a46;
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 2vmin);
}

@media (max-width: 500px) {
    .Ment {
        display: none;
    }
    .Contact {
        display: none;
    }
}