.Main-Image {
    height: 500px;
    width: 500px;
    align-items: center;
}

@media (max-width: 500px) {
    .Main-Image {
        height: 350px;
        width: 350px;
        align-items: center;
    }
}