.navbar {
    background-color: teal;
    font-weight: bold;
    padding-left: 50px;
    height: 80px;
}

.Nav-Major {
    display: flex;
    flex-direction: row;
    color: aqua;
}

.Menubar {
    display: none;
}

.Nav-Mainname {
    text-align: left;
    display: flex;
    font-size: calc(10px + 2vmin);
}

.elements {
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.elements-item {
    padding: 10px;
    color: rgb(151, 255, 182);
    text-decoration: none;
}

@media (max-width: 700px) {
    .navbar {
        padding-left: 0px;
    }
    .Menu {
        display: none;
    }
    .Menubar {
        display: contents;
    }
    .Nav-Mainname {
        padding-left: 50px;
        text-align: center;
        display: flex;
        font-size: calc(10px + 3vmin);
        color: aqua;
    }
}